# Pandas

# <font color="red">Pandas Object

In [1]:
import pandas as pd

In [2]:
import numpy as np

## The Pandas Series Object

A Pandas Series is a one-dimensional array of indexed data

In [3]:
data = pd.Series([0.25,0.5,0.75,1.0])

In [4]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
type(data)

pandas.core.series.Series

As we see in the preceding output, the Series wraps both a sequence of values and a sequence of indices, which we can access with the values and index attributes.

In [6]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [7]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data[0]

0.25

In [9]:
data[1]

0.5

In [10]:
data[1:3] # 3-1 = 2

1    0.50
2    0.75
dtype: float64

In [11]:
data.ndim

1

From what we’ve seen so far, it may look like the Series object is basically inter‐changeable with a one-dimensional NumPy array. The essential difference is the presence of the index: while the NumPy array has an implicitly defined integer index usedto access the values, the Pandas Series has an explicitly defined index associated with the values.

In [14]:
data = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])

In [15]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [16]:
data['b']

0.5

In [17]:
data = pd.Series([0.25,0.5,0.75,1.0], index=[2,5,1,8])

In [18]:
data

2    0.25
5    0.50
1    0.75
8    1.00
dtype: float64

In [27]:
# Series as specialized dictionary

In [19]:
population_dict = {'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135}

In [20]:
population_dict

{'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135}

In [21]:
type(population_dict)

dict

In [22]:
data = pd.Series(population_dict)

In [23]:
data

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [24]:
type(data)

pandas.core.series.Series

By default, a Series will be created where the index is drawn from the sorted keys.
From here, typical dictionary-style item access can be performed:

In [25]:
data['California']

38332521

In [26]:
data[:3]

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [28]:
# Constructing Series objects

data can be a list or NumPy array, in which case index defaults to an integer sequence

In [29]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

data can be a scalar, which is repeated to fill the specified index:

In [31]:
pd.Series(5,index=[1,2,3])

1    5
2    5
3    5
dtype: int64

data can be a dictionary, in which index defaults to the not sorted dictionary keys:

In [32]:
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

# The Pandas DataFrame Object

A DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names.

In [33]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
 'Florida': 170312, 'Illinois': 149995}

In [34]:
area_dict

{'California': 423967,
 'Texas': 695662,
 'New York': 141297,
 'Florida': 170312,
 'Illinois': 149995}

In [35]:
type(area_dict)

dict

In [36]:
area = pd.Series(area_dict)

In [37]:
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [38]:
population_dict

{'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135}

In [39]:
states = pd.DataFrame({'population': population_dict,
 'area': area})

In [40]:
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [41]:
type(states)

pandas.core.frame.DataFrame

In [42]:
states.values

array([[38332521,   423967],
       [26448193,   695662],
       [19651127,   141297],
       [19552860,   170312],
       [12882135,   149995]], dtype=int64)

In [43]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Additionally, the DataFrame has a columns attribute, which is an Index object holding the column labels:

In [44]:
states.columns

Index(['population', 'area'], dtype='object')

In [45]:
# DataFrame as specialized dictionary

Where a dictionary maps a key to a value, a DataFrame maps a column name to a Series of column data. For example, asking for the 'area' attribute returns the Series object containing the areas we saw earlier:

In [46]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [47]:
states['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [51]:
# Constructing DataFrame objects

From a single Series object : A DataFrame is a collection of Series objects, and a singlecolumn DataFrame can be constructed from a single Series:

In [61]:
population_dict

{'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135}

In [65]:
population_df = pd.DataFrame(list(population_dict.items()), columns=['State', 'Population'])

In [66]:
population_df

        State  Population
0  California    38332521
1       Texas    26448193
2    New York    19651127
3     Florida    19552860
4    Illinois    12882135

In [67]:
population_df.set_index('State', inplace=True)

In [68]:
population_df

            Population
State
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [69]:
population_df.columns = ['population']

In [71]:
print(population_df)

            population
State
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

From a list of dicts - Any list of dictionaries can be made into a DataFrame. We’ll use a simple list comprehension to create some data:

In [73]:
data = [{'a':i, 'b':2 * i} for i in range(3)]

In [74]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are missing, Pandas will fill them in with NaN (i.e.,“not a number”) values:

In [75]:
pd.DataFrame([
    {'a':1, 'b':2},{'b':3, 'c':4}
])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

From a dictionary of Series objects - As we saw before, a DataFrame can be constructed from a dictionary of Series objects as well:

In [76]:
pd.DataFrame({'population':population_dict, 'area':area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [78]:
type(population_dict)

dict

In [79]:
type(area)

pandas.core.series.Series

From a two-dimensional NumPy array

In [80]:
pd.DataFrame(np.random.rand(3,2),columns=['foo','bar'],index=['a','b','c'])

        foo       bar
a  0.315442  0.763672
b  0.846603  0.189402
c  0.028098  0.424588

# The Pandas Index Object

This Index object is an interesting structure in itself, and it can be thought of either as an immutable array or as an ordered set

In [92]:
# Index as immutable array

In [82]:
ind = pd.Index([2,1,8,7,6,3])

In [83]:
ind

Int64Index([2, 1, 8, 7, 6, 3], dtype='int64')

In [84]:
ind[0]

2

In [85]:
ind[1]

1

In [86]:
ind[1] = 4

TypeError: Index does not support mutable operations

In [87]:
# bcoz it is immutable

In [88]:
ind.size

6

In [89]:
ind.shape

(6,)

In [90]:
ind.ndim

1

In [91]:
ind.dtype

dtype('int64')

In [93]:
# Index as ordered set

In [94]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [95]:
indA

Int64Index([1, 3, 5, 7, 9], dtype='int64')

In [96]:
indB

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [97]:
# union

In [99]:
indA | indB

C:\Users\91701\AppData\Local\Temp\ipykernel_16372\3251124211.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [100]:
indA & indB # intersection

C:\Users\91701\AppData\Local\Temp\ipykernel_16372\144964795.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [101]:
indA ^ indB # symmetric difference

C:\Users\91701\AppData\Local\Temp\ipykernel_16372\2832893868.py:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead.
  indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')